body {
    background-image: url("https://plexcollectionposters.com/images/2021/05/16/background-images-for-login-page3bc68c53b0db224b.jpg");
    background-repeat: no-repeat;
}

main {
    width: 70%;
    height: 80vh;
    margin-top: 100px;
    margin-left: 300px;
    padding: 50px 50px;
    background-color: white;
}

.left_content h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 2.5rem;
    padding-top: 1.5rem;
    padding-left: 1rem;
    color: #1c5fb8;
}

.left_content img {
    width: 700px;
    height: 500px;
    animation: updown 2s ease-in-out 1s infinite alternate-reverse both;
}

@keyframes updown {
    0% {
        transform: translateY(8px);
    }
    100% {
        transform: translateY(-8px);
    }
}

.form-container {
    width: 40%;
    height: 40vh;
    margin: auto;
    padding: 50px 30px;
    background-color: white;
}

.form-container h3 {
    color: #2e3d49;
    margin-bottom: 2rem;
    font-size: 1.75rem;
    line-height: 36px;
    font-weight: 700;
}

.form-container input[type=text], .form-container input[type=password] {
    width: 60%;
    padding: 8px;
    margin: 1.5rem 1rem;
    border: none;
    background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin: 15px 5px;
    opacity: 0.8;
}

.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

@media (max-width:1400px) {
    main {
        margin: 70px auto;
    }
    .left_content {
        display: none;
    }
    .form-container {
        width: 100%;
        margin: 30px auto;
    }
    .form-container input[type=text], .form-container input[type=password] {
        width: 100%;
        margin: 0.5rem 1rem 3rem 1rem;
        padding: 0%;
    }
}

@media (max-width:500px) {
    main {
        width: 95%;
        margin: 15px 5px 20px 8px;
    }
    .form-container {
        padding-top: 5px;
        margin-top: 10px;
    }
}